<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img class="animate__animated animate__zoomIn animate__delay-2s animate__slow" src="/assets/cachorro.jpg"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-title>TeLLevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h1 class="tittle">Bienvenidos!</h1>
    <p>Aca encontraras una breve explicacion en que consiste esta app.</p>
    <h3 class="tittle">Te invito a conocer esta App</h3>
    <p class="justificado">
      Esta app esta creada especialmente para facilitar la llegada de alumnos de lugares rurales a la sede duoc</p>
  </div>
</ion-content>
